@import url("https://fonts.google.com/specimen/Nunito+Sans");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 16px; */
}

:root {
    --bg-color: hsl(0, 0%, 98%);
    --elem-color: hsl(0, 0%, 100%);
    --font-color: hsl(200, 15%, 8%);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px 8%;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: var(--elem-color);
}

button{
    border: none;
    outline: none;
    background-color: var(--elem-color);
}

.dark-mode {
    --white-color: hsl(0, 0%, 100%);
    background: var(--dark-bg-color);
    color: var(--bg-color);
    --dark-bg-color: hsl(207, 26%, 17%);
    --element-color: hsl(209, 23%, 22%);

    .container, button, .back, .border-countries a {
        background-color: var(--element-color);
    }
}

.toggle {
    font-size: 18px;
    cursor: pointer;
}

.toggle i{
    padding-right: 5px;
}

.country-model {
    width: 100%;
    height: 100%;
    background: var(--white-color);
    padding: 30px;
    max-width: 1200px;
    margin-inline: auto;
    background-color: var(--dark-bg-color);
    color: var(--white-color);
}

.back {
    margin: 30px 0;
    width: 100px;
    background: var(--elem-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--elem-color);
    color: var(--white-color);
}

.model {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.left-model {
    width: 50%;
}
.right-model {
    width: 50%;
}

.right-model h1{
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 30px;
}
.model img{
    width: 80%;
    object-fit: cover;
}
.model-info {
    display: flex;
    justify-content: space-between;
}
.inner {
    letter-spacing: 1px;
}
.inner p{
    margin-bottom: 5px;
}

.inner p> strong {
    font-weight: 600;
}

.border-countries {
    margin-top: 40px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 8px;
}
.border-countries a{
    padding: 4px 16px;
    box-shadow: 0 0 5px rgba(219, 194, 194, 0.4);
    border-radius: 8px;
    margin-inline: 4px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    color: var(--white-color);
    background: var(--elem-color);
}

@media only screen and (max-width: 850px) {
    .left-model img {
        width: 80%;
        object-fit: cover;
    }
    .right-model {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .model-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inner-right {
        padding-top: 10px;
    }

    .border-countries {
        gap: 8px 3px;
    }
}

@media only screen and (max-width: 375px) {
    body {
      font-size: 12px;
    }
    .container h1, .toggle {
        font-size: 12px;
    }

    .back {
        padding: 5px;
        width: 65px;
        font-size: 12px;
    }
    .model-info {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    .inner-left {
        margin-bottom: 30px;
    }

    .country-model {
        padding: 0 30px;
    }
    .model {
        display: flex;
        align-items: start;
        flex-direction: column;
    }
    .model img{
        width: 180px;
        object-fit: cover;
    }
    .right-model {
        width: 100%;
    }
    .border-countries {
        display: flex;
        flex-direction: column;
    }
    .border-countries a {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 12px;
    }
  }